{% extends "team/_auth_shell.html" %}
{% block content %}
<form method="post" action="/team/password/reset/{{ token }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <div class="auth-field">
        <label for="new_password">New password (min 12 chars, 3 of 4: upper / lower / digit / symbol)</label>
        <input class="auth-input" type="password" name="new_password" id="new_password" required autofocus autocomplete="new-password">
    </div>
    <button class="auth-btn" type="submit">Set password</button>
</form>
{% endblock %}
